.xyi{
	color:#B10417;
	font-size: 100px;
	font-family: sans-serif;
	text-align: center;
}

.mamkin-hacker{
	margin-top: 50px;
	color:#2BA2DF;
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
}